<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Liam Conroy is a Freelance creative professional based in Kyoto, Japan. He has 13 years of experience in a number of roles; Game Designer, Programmer, Translator (Japanese to English) amongst others.</p>
                </div>
                <div class="col-lg-4">
                    <p>Please get in touch if you are interested in tapping into his skills and expertese. He is available for commisionned work, and has a number of projects of his own on the go. He also runs <a href="https://www.airbnb.com/users/show/8314416/">very nice vacation rentals</a> in Kyoto.</p>
                </div>
            </div>
        </div>
    </section>